.analytics-Image {
  width: 600px;
  z-index: 500;
  transform: translateX(100px);
}
.AboutUs-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
 
}
.analytics-Text {
  border-radius: 20px !important;
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 20px;
  margin-left: -270px;
  background: var(--gradiant);
  width: 70%;
  padding-left: 300px;
  height: 525px;
  z-index: 2;
}
.Aboutus-Text {
  margin-top: 20px;
  margin-left: 100px;
  color: white;
  font-family: "Airbnb Cereal App";
  font-size: 21px;
  width:600px ;
}
.AboutUs-Title {
  color: white !important;
  font-family: "Airbnb Cereal App ";
  text-align: center;
  font-size: 40px;
  margin-left: 100px;
}
.AboutUs-line {
  margin-top: -2px;
  color: white !important;
  opacity: 100%;
  width: 15%;
  height: 3px !important;
  margin-left:350px;
  
}

.aboutUsContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 980px) {
  .AboutUs-Container {
    flex-direction: column;
    margin-top: 0;
 
    
  }
  .analytics-Text {
    width: 90%;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 280px;
    height:1000px;
  }
  .analytics-Image {
    margin-bottom: -20vh;
    width: 50%;
    margin-left: -50%;
  }
  .Aboutus-Text{
      margin-left: 0;
      font-size: 19px;
      width: 100%;
      margin-top: 0%;
  }
  .AboutUs-Title {
    color: white !important;
    font-family: "Airbnb Cereal App ";
    text-align: center;
    font-size: 25px;
    margin-left: 15%;
    margin-top: -40%;
  }
  .AboutUs-line {
    margin-top: -2px;
    color: white !important;
    opacity: 100%;
    width: 20%;
    height: 3px !important;
    margin-left:120px;
    
  }
}
