@import "root.css";

.Ourcofounders-container{
background-color: #E8BB3E;
height: 1200px;
transform: translateY(-280px);
z-index: 0;
padding-top:150px;
margin-bottom: -296px;
}
.ourcofounders-title{
    text-align: center;
    color: white;
    font-family:Airbnb Cereal App  ;
    font-size: 45px;
    
}
.ourcofounders-line{
    color: white;
    width: 200px;
    height: 4px !important;
    opacity: 100%;
    margin-left: 650px;
}
.cofounders-presentation{
   
    width: 1300px;
    padding-left: 150px;
  
   

}
.confounders-text{
    color: white;
    font-family:Airbnb Cereal App  ;
    font-size: 28px;
    
}
.cofounders-images{
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blue-square{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
    width: 340px;
    height: 340px;
    background-color: var(--bg-primary);
  
}
.cofounder-image{
    position: absolute;
    margin-left: -30px;
    margin-top: -430px;
    width: 430px;
    height: 430px;
    
}
.cofounder-image{
    position: absolute;
    margin-left: -30px;
    margin-top: -430px;
    width: 430px;
    height: 430px;
}
.Cofounder{
    color: white;
    font-family:Airbnb Cereal App  ;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    
}
.linkedin-logo{
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 900px){
    .Ourcofounders-container{
    height: 1300px;
    transform: translateY(-50px);
z-index: 0;
padding-top:150px;
margin-bottom: -296px;
    }
 
    .cofounders-presentation{
   
        width:95%;
        padding-left: 10px;
      
       
    
    }
    .confounders-text{
        color: white;
        font-family:Airbnb Cereal App  ;
        font-size: 20px;
        
    }
    .cofounders-images{
        padding-top: 10%;
        padding-left:35%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .cofounder-image{
        position: absolute;
        margin-left: -30px;
        margin-top: -430px;
        width: 30%;
        height: 30%;
        
    }
    .cofounder-image{
        position: absolute;
        margin-left: -30px;
        margin-top: -200px;
        width: 200px;
        height: 200px;
    }
    .blue-square{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
        width: 150px;
        height: 150px;
        background-color: var(--bg-primary);
      
    }
    .Cofounder{
        color: white;
        font-family:Airbnb Cereal App  ;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        padding-bottom: 40%;
        
        
    }
    .name-cofounder{
        font-size: 20px;
    }
    .linkedin-logo{
        width: 20%;
        height: 20%;
    }
}